ul {
  padding: 0;
  list-style-type: none;
}
.pulje {
  background: #eee;
  border-left: 5px solid #B3DB11;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1em;
}
.label-info {
  background-color: #5bc0de;
}
.label {
  isplay: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.pulje .slideDescription {
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
.pull-right {
  float: right!important;
}
.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}